body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
    background-color: #eeeeee;
}

/* Layout */

.ks-header {
    height: 60px;
    background-color: #212530;
    line-height: 60px;
    padding-left: 20px;
}

.ks-header-sub {
    height: 40px;
    position: absolute;
    left: 250px;
    right: 0;
    top: 60px;
    background-color: #fff;
    line-height: 40px;
    text-align: right;
    padding: 0 2em;
}

.ks-left {
    position: absolute;
    top: 60px;
    left: 0;
    width: 250px;
    bottom: 0;
    background-color: #212530;
}

.ks-main {
    position: absolute;
    top: 102px;
    left: 250px;
    right: 0;
    bottom: 0;
    background-color: #eeeeee;
    overflow: hidden;
}

.ks-main iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.ks-footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #333333;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}

/* Menu */

.ks-menu-fixed {
    background-color: #161924;
    color: #ffffff;
    padding: 10px 1em;
    border-top: 1px solid #000000;
    font-size: 15px;
}

.ks-menu-parent {
    padding: 10px 2em;
    border-bottom: 1px solid #444444;
    color: #cccccc;
    font-size: 15px;
    cursor: pointer;
}

.ks-menu-child {
    padding: 10px 3em;
    background-color: #2A303E;
    border-bottom: 1px solid #444444;
    border-left: 5px solid transparent;
}

.ks-menu-child a {
    color: #aaaaaa;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.ks-menu-child a:hover {
    color: #5CB5F1;
}

.ks-menu-child.selected {
    border-left: 5px solid #5CB5F1;
}

.ks-menu-child.selected a {
    color: #5CB5F1;
}

/* Button */

.ks-button {
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #ffffff;
}

.ks-button.block {
    display: block;
    width: 100%;
}

.ks-button.transparent {
    background-color: transparent;
    color: #ffffff;
}

.ks-button.primary {
    background-color: #33A0E5;
    color: #ffffff;
}

.ks-button.primary:not(:disabled):hover {
    background-color: #44B1F6;
}

.ks-button.slave {
    background-color: #cccccc;
    color: #000000;
}

.ks-button.danger {
    background-color: #FC504E;
}

.ks-button.danger:not(:disabled):hover {
    background-color: #FF615F;
}

.ks-button.success {
    background-color: #5DB513;
}

.ks-button.success:not(:disabled):hover {
    background-color: #6EC624;
}

.ks-button[disabled] {
    background-color: #cccccc;
    color: #eeeeee;
}

.ks-button.large {
    padding: 12px 30px;
    font-size: 16px;
}

/* Button Group */

.ks-button-group {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.ks-button-group > span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.ks-button-group > span.primary {
    background-color: #33A0E5;
    color: #ffffff;
}

.ks-button-group > span.slave {
    background-color: #ffffff;
    color: #33A0E5;
    border-bottom: 1px solid #aaaaaa;
}

/* Table */

.ks-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #F8F9FA;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ks-table > thead > tr {
    background-color: #2A303E;
}

.ks-table th, .ks-table td {
    text-align: center;
    padding: 8px;
}

.ks-table th {
    color: #ffffff;
    font-weight: normal;
}

.ks-table > tbody > tr:nth-child(2n) {
    background-color: #eeeeee;
}

.ks-table td {
    border: 1px solid #cccccc;
    color: #000000;
}

.ks-table.tr-hover > tbody > tr:hover {
	background-color: #cccccc;
}

/* Input */
.ks-input {
    display: block;
    width: 100%;
    border: 1px solid #DFDFDF;
    padding: 8px;
    outline: 0;
}

.ks-input.inline {
    display: inline;
    width: auto;
}

.ks-input.danger {
    border-color: #FC504E;
}

.ks-input.success {
    border-color: #5DB513;
}

.ks-input:focus {
    border-color: #33A0E5;
}

/* Form Panel */
.ks-form {
    margin: 20px auto;
    width: 50%;
}

.ks-form > .ks-form-header {
    background-color: #2A303E;
    color: #ffffff;
    padding: 10px 20px;
}

.ks-form > .ks-form-content {
    border: 1px solid #cccccc;
    background-color: #fff;
    padding: 15px 0;
}

/* Form Table */
.ks-form-table {
    width: 80%;
    margin: 0 auto;
}

.ks-form-table td {
    padding: 10px;
}

.ks-form-table tr > td:first-child {
    text-align: right;
}

/* Pager */
.ks-pager {

}

.ks-pager > input {
    width: 40px;
    text-align: center;
    padding: 4px;
    border: 1px solid #33A0E5;
    outline: 0;
}

/* Colors */
.ks-blue {
    color: #33A0E5;
}

.ks-red {
	color: #FC504E;
}

.ks-green {
    color: #5DB513;
}

/* Align */
.ks-text-right {
    text-align: right;
}

.ks-text-left {
    text-align: left;
}

.ks-text-center {
    text-align: center;
}

/* Float */
.ks-pull-left {
    float: left;
}

.ks-pull-right {
    float: right;
}

/* Font */
.ks-text-strong {
    font-weight: bold;
}

/* DropDown Menu */
.ks-dropdown-menu {
	position: absolute; 
	top: 100px; 
	right: 0; 
	width: 100px; 
	background-color: #2A303E; 
	z-index: 100; 
	text-align: center;
	display: none;
}

.ks-dropdown-item {
	padding: 5px 0;
}

.ks-dropdown-item > a {
	color: #cccccc;
}

/* Search bar */
ul.search-bar {
	list-style: none;
	padding: 0;
	overflow: hidden;
}

ul.search-bar > li {
	float: left;
	margin-right: 1em;
}

/* Dialog */
.ks-dialog {
    position: fixed;
    top: 50px;
    left: 300px;
    overflow: hidden;
    width: 400px;
    z-index: 1001;
    display: none;
}

.ks-dialog.show {
    display: block;
}

.ks-dialog-title {
    background-color: #2A303E;
    color: #ffffff;
    padding: 10px;
    cursor: move;
}

.ks-dialog-body {
    background-color: #ffffff;
    padding: 10px;
}

.ks-dialog-close {
    float: right;
    cursor: pointer;
    padding: 0 5px;
}

.ks-dialog-close:hover {
    background-color: #FF615F;
}

.ks-dialog-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1000;
    display: none;
}

/* Progress Bar */
.ks-progress-bar {
 /*    border: 1px solid #777; */
    text-align: center;
    position: relative;
    padding: 3px;
    background-color: #EBEBEB;
}

.ks-progress-bar > .finished-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #7CE73B;
}

.ks-progress-bar > .percent-title {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: #000;
    background: transparent;
    line-height: 12px;
    font-size: 12px;
    display: none;
}

.ks-disable{
    background-color: #cccccc;
}
