<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmy.sms.mapper.TenderMapper" >
  <resultMap id="BaseResultMap" type="com.xmy.sms.po.Tender" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ITEM_ID" property="itemId" jdbcType="INTEGER" />
    <result column="PROJECT_ID" property="projectId" jdbcType="INTEGER" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="PHOTO" property="photo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    ID, NAME, ITEM_ID, PROJECT_ID, POSITION, PHOTO
  </sql>
  <select id="selectBy" resultMap="BaseResultMap" parameterType="com.xmy.sms.po.TenderExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteBy" parameterType="com.xmy.sms.po.TenderExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countBy" parameterType="com.xmy.sms.po.TenderExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateBySelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update tender
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.position != null" >
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        PHOTO = #{record.photo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBy" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update tender
    set ID = #{record.id,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=INTEGER},
      PROJECT_ID = #{record.projectId,jdbcType=INTEGER},
      POSITION = #{record.position,jdbcType=VARCHAR},
      PHOTO = #{record.photo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select  id="queryByKey" resultType="com.xmy.sms.to.TenderTo">
    select t.id,t.name,t.position,t.photo,t.item_id,i.name itemName,p.name projectName
    from tender t,item i,project p
    <where>
      <if test="tenderTo.name!=null and tenderTo.name!=''">
        name like CONCAT('%','${tenderTo.name}','%' )
      </if>
      <if test="tenderTo.itemName!=null and tenderTo.itemName!=''">
        and itemName like CONCAT('%','${tenderTo.itemName}','%' )
      </if>
      and t.item_id=i.id and t.project_id=p.id
    </where>
    ORDER BY t.id ASC
  </select>

</mapper>